<footer>
    <div class="container-fluid mt-5 row">
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>О нас</b></h3>
                <p>Bespace — обширная онлайн-платформа, где доступны все фриланс-сервисы и работают с экспертами со всего
                    мира. Все, кого вы наймете из Freele, будут индивидуально проверены администрацией сайта. Это делает
                    процесс найма менее напряженным. Это также позволяет вам сосредоточиться на найме того, кто хочет
                    выполнить работу за вас.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>Категории</b></h3>
                <ul class="footer-item" id="footerItemCategory">
                    <!-- FROM script.js -->
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>Быстрая ссылка</b></h3>
                <ul class="footer-item">
                    <li><a href="/allservices">Сервисы</a></li>
                    <li><a href="/alljobpost">Посты</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>Беседа</b></h3>
                <ul class="footer-item">
                    <li><a href="#">Контакы</a></li>
                    <li><a href="#">Жалобы</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid w-80">
        <hr>
    </div>

    <div class="container-fluid row mb-1">
        <div class="col-lg-6">
            <div class="container-fluid">
                <p>Copyright @<%= momentCurrentYear()%> By <a href="/">Bespace</a></p>
            </div>
        </div>
        <div class="col-lg-6 text-lg-end">
            <div class="footer-logo-item container-fluid">
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>


<!-- Start Footer Links -->
<%- include('_footerLinks') %>
    <!-- End Footer Links -->

    </body>

    </html>